.initial {
   padding: 21px 0 93px 0;
   min-height: 650px;
   background: url('../img/bg/initial_bg.jpg') center (center/cover) no-repeat;
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 96px;
   }
   &__title {
      color: $cw;
      font-size: 42px;
      font-weight: 700;
      text-transform: uppercase;
   }
   &__subtitle {
      color: $cw;
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 17px;
   }
   &__icons {
      width: 424px;
      height: 96px;
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
   }
   &__item {
      width: 140px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: $cw;
      text-align: center;
      font-weight: 500;
   }
   &__link {
      margin-top: 10px;
      color: $cw;
      font-size: 16px;
      font-weight: 500;
      a {
         color: $cw;
         text-decoration-line: underline;
      }
   }
}
